body{
    font-size: 20;
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
    background-color: lightskyblue;
    height: 100%;
}

.box{
    margin: auto;
    padding: 10px;
    align-self: center;
    width: max-content;
    background-color: white ;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul li{
    padding: 10px;
}

ul li span{
    color: cornflowerblue;
    display: block;
}